




<IfModule mod_rewrite.c>
   # RewriteBase /
# NOT needed unless you're using mod_alias to redirect
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L] 
</IfModule> 